{% extends 'home.html' %}
{% block body %}
<h1>Registration for classes</h1>
<form action="">
    <select>
        <option value="Software Development Life Cycle">Software Development Life Cycle</option>
        <option value="Project Management">Project Management</option>
        <option value="Machine Learning Using Python">Machine Learning Using Python</option>
        <option value="Object Oriented Programming">Object Oriented Programming</option>
        <option value="Server-side Programming">Server-side Programming</option>
    </select>
</form>

{% endblock %}